$lineHeight: 24px;
$height: 60px;
$distance: 25px;

.notification {
  color: #fff;
  font-weight: 600;
  background: #ff5a79;
  position: fixed;
  top: $distance;
  right: $distance;
  max-width: calc(100% - #{$distance} * 2);
  min-height: $height;
  line-height: $lineHeight;
  padding: ($height - $lineHeight) / 2 20px;
  border-radius: 4px;
  transition: all 0.3s ease;
  transform: scale(0);
  opacity: 0;
  transform-origin: bottom;
  box-shadow: -3px 6px 8px 0px rgba(216, 70, 70, 0.35);
}

.notification.active {
  opacity: 1;
  transform: scale(1);
}
