/* 
	Generate the boilerplate for mat-icon font size (only even number) from 12px to 24px
	Format like below:

	.material-icons.md-12 {
		font-size: 12px !important;
	}
*/
@for $i from 12 through 30 {
	.material-icons.md-#{$i} {
		width: #{$i}px !important;
		height: #{$i}px !important;
		font-size: #{$i}px !important;
	}
	$i: $i + 2;
}

/*
	Generate the boilerplate for margin from 5px to 35px
	Format like below:

	Format: 
	.mt-15 {
		margin-top: 15px !important;
	}
	.mb-15 {
		margin-bottom: 15px !important;
	}
	.ml-15 {
		margin-left: 15px !important;
	}
	.mr-15 {
		margin-right: 15px !important;
	}
*/
$directions: "t", "b", "l", "r";

@for $i from 1 through 4 {
	@for $j from 5 through 35 {
		@if nth($directions, $i) == "t" {
			.m#{nth($directions, $i)}-#{$j} {
				margin-top: #{$j}px !important;
			}
		}
		@if nth($directions, $i) == "b" {
			.m#{nth($directions, $i)}-#{$j} {
				margin-bottom: #{$j}px !important;
			}
		}
		@if nth($directions, $i) == "l" {
			.m#{nth($directions, $i)}-#{$j} {
				margin-left: #{$j}px !important;
			}
		}
		@if nth($directions, $i) == "r" {
			.m#{nth($directions, $i)}-#{$j} {
				margin-right: #{$j}px !important;
			}
		}
	}
}

.material-icons.md-dark {
	color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
	color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
	color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
	color: rgba(255, 255, 255, 0.3);
}

small {
	font-size: 85% !important;
	font-weight: 400;
	line-height: 1;
	color: #777;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.show {
	display: block !important;
}

.hide {
	display: none !important;
}

.inline-block {
	display: inline-block;
}

.invisible {
	visibility: hidden;
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-default {
	cursor: default;
}

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.bold {
	font-weight: 700;
}

.link-btn {
	color: #108ee9;
	cursor: pointer;
}

.link-btn:hover {
	outline: 0;
	text-decoration: none;
	color: #49a9ee;
}
