<header class="header">
  <h1 class="title">Material ICON</h1>
  <h2 class="mt-24">Pick, Click, Paste and Go 🚀</h2>
  <div class="btns">
    <a class="btn btn-pink mr-20" target="_blank" href="https://github.com/HelloQingGuo/material-icons-click-paste">⭐ Github</a>
    <a class="btn btn-pink" target="_blank" href="https://helloqingguo.github.io/">🙈 Me</a>
  </div>
</header>
<main class="wrap">
  <div class="row" id="list-icon">
    <article class="icon-card" *ngFor="let icon of icons; let i = index" (click)="copyTextToClipboard(icon, i)">
      <header class="icon-header">
        <i class="material-icons md-30">
          {{ icon.name }}
        </i>
      </header>
      <div class="icon-name">
        {{ icon.name }}
      </div>
    </article>
  </div>
</main>
<app-notification [text]="text" [isActive]="isActive"></app-notification>